<h2>Dodavanje knjige</h2>
<div *ngIf="spremno">

<table>
    <tr>
        <td>Naziv:</td>
        <td><input type="text" [(ngModel)]="naziv"></td>
    </tr>
    <tr>
        <td>Autor:</td>
        <td><input type="text" [(ngModel)]="autor"></td>
    </tr>
    <tr>
        <td>Žanr:</td>
        <td>
            <select name="zanr" multiple [(ngModel)]="zanr">
                <option value="drama">Drama</option>
                <option value="romantika">Romantika</option>
                <option value="misterija">Misterija</option>
                <option value="fantastika">Fantastika</option>
                <option value="triler">Triler</option>
                <option value="horor">Horor</option>
                <option value="biografija">Biografija</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Izdavač:</td>
        <td><input type="text" [(ngModel)]="izdavac"></td>
    </tr>
    <tr>
        <td>Godina izdavanja:</td>
        <td><input type="text" [(ngModel)]="godina"></td>
    </tr>
    <tr>
        <td>Jezik:</td>
        <td><input type="text" [(ngModel)]="jezik"></td>
    </tr>
    <tr>
        <td>Broj na stanju:</td>
        <td><input type="text" [(ngModel)]="brojNaStanju"></td>
    </tr>
    <tr>
        <td>Slika:</td> 
        <td><input type="file" (change)="selectFile($event)"></td> 
    </tr>
    <tr>
        <td colspan="2"><button (click)="dodajKnjigu()">Dodaj</button></td>
    </tr>
</table>
<br/>
<span style="color: green">{{poruka}}</span>
<br/>
<!-- <div><img [src]="url" *ngIf="url" width="200" height="200"></div> -->

</div>